<!doctype html>
<html>
    <header>
        <style>
            .roles {
                border-color: red
            }
            .errorMsg{
                color: red;
            }
        </style>
    </header>
   <body>          
      <form action = "/setcookie" method = "POST">
         <p><h1>Malik's Company</h1></p>
         <p><h3>Application</h3></p>
         <p><input type = "text" name = "nm" placeholder="Name" required/></p>
         <p5>Please enter one of our available roles</p5>
         <p><input type = "text" name = "pos" placeholder="Position" class="roles" required/></p>
         <p class="errorMsg"><h5>Available roles: Software Engineer, Data Scientist, Automation Engineer, Cloud Engineer,
            Truck Driver, Recruiter, Manager, Web Developer, Warehouse Specialist</h5></p>
         <p><input type = "text" name = "tm" placeholder="DOB" required/></p>
         <p><input type = "text" name = "tms" placeholder="Why Should We Hire You?"/></p>
         <p><input type = "submit" value = 'Apply'/></p>
         
      </form>

      <script>
          alert("Available roles: Software Engineer, Data Scientist, Automation Engineer, Cloud Engineer, Truck Driver, Recruiter, Manager, Web Developer, Warehouse Specialist")
      </script>
   </body>
</html>
