<!doctype html>
<html>
   <body>          
      <form action = "/setcookie" method = "POST">
         <p><h1>Malik's Company</h1></p>
         <p><h3>Application</h3></p>
         <p><input type = "text" name = "nm" placeholder="Name" required/></p>
         <p><input type = "text" name = "pos" placeholder="Position" required/></p>
         <p><input type = "text" name = "tm" placeholder="DOB" required/></p>
         <p><input type = "text" name = "tms" placeholder="Why Should We Hire You?"/></p>
         <p><input type = "submit" value = 'Apply'/></p>
      </form>
   </body>
</html>
