<!doctype html>
<html>
   <head>
      <title>Application Submitted</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
         html,body,h1,h3,p,form, #div {font-family: "Roboto", sans-serif}
         h1, h3, p {text-align: center; }
         html{max-width: 20%; max-height: 20%;}
         #div{text-align: center; margin-left: 25vw; width: 50vw; height: 600px; border-style:solid;}
         body{margin-top: 30%; max-width: 50vw; height:50vw; padding: 5px; border: 4px; border-color: grey;}
      </style>
   </head>
   <body>
      <div id="div">
      <p><h1>Malik's Company is hiring!</h1></p>
      <p><h3>Application Submitted</h3></p>
      <br>
      <i class="fa fa-code" style="font-size:36px; text-align: center;"></i>
      <br>
      <h3> <p> You have successfully submitted the application! </p>
           <p> <a href="/getcookie">Click here to Review Application</a> </p>
      </h3>
      </div>
   </body>
</html>
