<!doctype html>
<html>
   <head>
      <style>
         h1, h3, p {text-align: center; }
         html{max-width: 20%; max-height: 20%;}
         #div{text-align: center; margin-left: 25vw; width: 50vw; height: 600px; border-style:solid;}
         body{margin-top: 30%; max-width: 50vw; height:50vw; padding: 5px; border: 4px; border-color: grey;}
      </style>
   </head>
   <body>
      <div id="div">
      <p><h1>Malik's Company is hiring!</h1></p>
      <p><h3>Application Submitted</h3></p>
      <i class="fa fa-code" style="font-size:36px; text-align: center;"></i>
      <h1> <p> You have successfully submitted the application! </p>
           <p> <a href="/getcookie">Click here to Review Application</a> </p>
      </h1>
      </div>
   </body>
</html>
